<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Example Page</title>
</head>
<body>
<input type="text" id="input" placeholder="请输入内容">
<button id="submitBtn">提交</button>
<div id="output"></div>

<script>
    const submitBtn = document.querySelector("#submitBtn");
    const output = document.querySelector("#output");

    submitBtn.addEventListener("click", () => {
        const input = document.querySelector("#input").value;
        console.log(input)
        const url = `./getAnswer?question=${input}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.meta.errCode === 0) {
                    output.innerHTML = data.data;
                } else {
                    output.innerHTML = data.errMsg;
                }
            })
            .catch(error => console.error(error));
    });
</script>
</body>
</html>
